body{
  background-color:  #FFD845;
  ;
}
.form-select {
  min-width: 160px !important;
  max-width: 260px !important;
  
  height: 40px !important;
  
}
.form-control  { 
  min-width: 200px !important;
  max-width: 300px !important;
 
  height: 40px !important;
}
.btn {
  width: 190px;
  height: 40px;
  border: 1px solid #ced4da;
  background-color: white;
}
